
<main role="main" class="flex-grow-1 response">
  <div>
    Dear &nbsp; <b>{{user}}</b>
  </div>
  <div class="mt-4">
    You have just sent {{amount}}&euro; to {{to}}
  </div>
  <div class="mt-1">
    Have a nice day!
  </div>
</main>